<ion-content>
  <ion-header>
    <ion-toolbar color="success">
      <ion-title>Select Your Slot</ion-title>
      <ion-buttons slot="start">
        <ion-button (click)="dismissModal()">
          <ion-icon slot="end" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item>
      <ion-label color="dark" position="floating">Your Name</ion-label>
      <ion-input tpye="text" [(ngModel)]="event.title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="dark" position="floating">Your Address</ion-label>
      <ion-input tpye="text" [(ngModel)]="event.address"></ion-input>
    </ion-item>
    <ion-item (click)="showPicker =! showPicker">
      <ion-label color="dark">Start</ion-label>
      <ion-text slot="end">
        {{ event.startTime | date: 'medium' }}
      </ion-text>
    </ion-item>
    <ion-datetime color="success" size="cover" hourCycle="h12" displayFormat="MM/DD/YYYY HH:mm"
      [(ngModel)]="event.startTime" [min]="minDate" *ngIf="showPicker">
    </ion-datetime>

    <ion-item (click)="showPickerEnd =! showPickerEnd">
      <ion-label color="dark">End</ion-label>
      <ion-text slot="end">
        {{ event.endTime | date: 'medium' }}
      </ion-text>
    </ion-item>
    <ion-datetime color="success" size="cover" hourCycle="h12" displayFormat="MM/DD/YYYY HH:mm"
      [(ngModel)]="event.endTime" [min]="minDate" *ngIf="showPickerEnd">
    </ion-datetime>
    <ion-item>
      <ion-label color="dark">All Day?</ion-label>
      <ion-checkbox [(ngModel)]="event.allDay"></ion-checkbox>
    </ion-item>
    <ion-button class="ion-margin" expand="full" fill="outline" color="success" (click)="save()">Add Event
      <!-- <ion-icon slot="end" name="checkmark"></ion-icon> -->
    </ion-button>
  </ion-list>
</ion-content>