<app-header></app-header>
<ion-content>
  <ion-card class="ion-padding ion-no-margin ion-text-center">

    <ion-card-header>
      <h1><b style="color:#2dd36f">About</b> Us</h1>
    </ion-card-header>

    <ion-card-content>
      <ion-img
        src="https://images.unsplash.com/photo-1629878496815-c0a36ab20e90?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80">
      </ion-img>
      <h2 class="ion-padding">
        Artificial turf is a surface of synthetic fibers made to look like natural grass. It is most often used in
        arenas
        for sports that were originally or are normally played on grass. However, it is now being used on residential
        lawns and commercial applications as well.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti ad, cumque ut quae commodi tempore adipisci
        excepturi sint, blanditiis enim, veritatis voluptatum quos quasi similique soluta sit voluptate maiores sequi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, ipsam a tempore unde est vero, dolor
        perferendis mollitia explicabo hic pariatur eaque blanditiis illum nisi dignissimos vel dolore molestiae atque.
      </h2>
    </ion-card-content>
  </ion-card>
</ion-content>