<app-header></app-header>

<ion-content>
  <ion-card-header class="ion-text-center">
    <h1><b style="color:#2dd36f">Turf</b> Detail</h1>
  </ion-card-header>
  <hr width="80%" color="#6666667d">

  <ion-segment color="success" [(ngModel)]="calendar.mode">
    <ion-segment-button value="month">
      <ion-label>Month</ion-label>
    </ion-segment-button>
    <ion-segment-button value="week">
      <ion-label>Week</ion-label>
    </ion-segment-button>
    <ion-segment-button value="day">
      <ion-label>Day</ion-label>
    </ion-segment-button>
  </ion-segment>


  <ion-row>
    <ion-col></ion-col>

    <ion-col size="5">
      <ion-button color="success" (click)="createRandomEvents()" expand="block" fill="outline">
        Add random events
      </ion-button>
    </ion-col>
    <ion-col size="5">
      <ion-button color="success" (click)="removeEvents()" expand="block" fill="outline">
        Remove all events
      </ion-button>
    </ion-col>
    <ion-col></ion-col>

  </ion-row>

  <ion-row>
    <!-- Move back one screen of the slides -->
    <ion-col size="2" class="ion-padding">
      <!-- <ion-button color="success" fill="clear" (click)="back()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button> -->
    </ion-col>

    <ion-col size="8" class="ion-text-center ion-no-padding">
      <h2>{{ viewTitle }}</h2>
    </ion-col>

    <!-- Move forward one screen of the slides -->
    <ion-col size="2" class="ion-padding">
      <ion-button color="success" fill="clear" (click)="openCalModal()">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <calendar [eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate"
    (onTitleChanged)="onViewTitleChanged($event)" [monthviewDisplayEventTemplate]="template">
  </calendar>

  <ng-template #template let-view="view" let-row="row" let-col="col">
    <div [class.with-event]="view.dates[row*7+col].events.length">
      {{view.dates[row*7+col].label}}
      <div class="indicator-container">
        <div class="event-indicator" *ngFor="let e of view.dates[row*7+col].events"></div>
      </div>
    </div>
  </ng-template>
</ion-content>