<app-header></app-header>
<ion-content>
  <section class="slider">
    <ion-slides pager="true" [options]="slideOptsOne" #slideWithNav>
      <ion-slide *ngFor="let eachImg of [1,2,3,4];let i = index;">
        <div class="container">
          <ion-img
            src="https://images.unsplash.com/photo-1630259900856-86e94006646e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1208&q=80">
          </ion-img>
          <div class="centered">
            <h4>IGNITECH</h4>
            <span>
              <strong>IGNITECH</strong> is an IT Based Company Established in year 2020, we provide various project
              Solutions starting from college level to variety of Business projects & solutions.
            </span>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </section>
  <ion-row>
    <ion-col size="12">
      <h1 class="ion-text-center"><b style="color:#2dd36f">All</b> Turf</h1>
    </ion-col>
    <ion-col size="10" class="ion-no-padding" style="margin: auto;">
      <ion-searchbar showCancelButton="true" (ionCancel)="isSearchBar=false" (input)="onSearch($event)" animated>
      </ion-searchbar>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col size="3.3" *ngFor="let item of turfList" size-xs="12" size-sm="12" size-md="6" size-lg="3.3">
      <ion-card class="ion-text-center ion-padding-bottom">
        <ion-img
          src="https://www.teahub.io/photos/full/9-96672_1920x1080-images-about-football-wallpapers-hd-on-pinterest.jpg">
        </ion-img>
        <ion-card-header>
          <ion-card-title>{{ item.turf_name }}</ion-card-title>
          <ion-card-subtitle>{{ item.turf_contact_1 }} </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{ item.turf_description | slice:0:200 }}
        </ion-card-content>
        <ion-button fill="outline" color="success" (click)="navigate('/turf-detail',item)">Book Now</ion-button>
      </ion-card>
    </ion-col>
  </ion-row>

  <div class="spin" *ngIf="loading">
    <ion-spinner color="success" name="circles"></ion-spinner>
  </div>
</ion-content>