<app-header></app-header>
<ion-content>

  <ion-card-header class="ion-text-center">
    <h1><b style="color:#2dd36f">Contact</b> Us</h1>
  </ion-card-header>
  <hr width="80%" color="#666">
  <ion-row>
    <ion-col size="1"></ion-col>

    <ion-col size-xs="12" size-sm="10" size-md="10" size-lg="5">
      <ion-card class="ion-padding ion-no-margin ion-text-center">
        <ion-card-content class="ion-no-padding">
          <iframe class="map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60293.155815345315!2d72.98704022718444!3d19.181122928970318!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7bf117349510b%3A0xc8148b8a43075d71!2sMumbra%2C%20Thane%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1643874666915!5m2!1sen!2sin"
            width="100%" height="430" style="border:0;" allowfullscreen="" loading="lazy" class="map"></iframe>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="5">
      <ion-card class="ion-padding ion-no-margin ion-text-center">
        <ion-card-content>
          <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <ion-row>
              <h1 class="btn head1">Get In Touch</h1>
              <ion-col size="12">
                <ion-item>
                  <ion-input type="text" placeholder="Your Name" formControlName="name" name="name">
                  </ion-input>
                </ion-item>
                <div class="ion-text-start" *ngIf="name.invalid && (name.dirty || name.touched)">
                  <small class="error" *ngIf="name.errors?.required">Name is
                    required</small>
                  <small class="error" *ngIf="name.errors?.minlength">Name is to short</small>
                  <small class="error" *ngIf="name.errors?.pattern">Invalid Name</small>
                </div>
              </ion-col>
              <ion-col size="12">
                <ion-item>
                  <ion-input type="text" placeholder="Your Email" formControlName="email" name="email">
                  </ion-input>
                </ion-item>
                <div class="ion-text-start" *ngIf="email.invalid && (email.dirty || email.touched)">
                  <small class="error" *ngIf="email.errors?.required">Email is
                    required</small>
                  <small class="error" *ngIf="email.errors?.pattern">Invalid Email</small>
                </div>
              </ion-col>
              <ion-col size="12">
                <ion-item>
                  <ion-input type="text" placeholder="Subject" formControlName="subject" name="subject">
                  </ion-input>
                </ion-item>
                <div class="ion-text-start" *ngIf="subject.invalid && (subject.dirty || subject.touched)">
                  <small class="error" *ngIf="subject.errors?.required">Subject is
                    required</small>
                  <small class="error" *ngIf="subject.errors?.minlength">Name is to short</small>
                  <small class="error" *ngIf="subject.errors?.pattern">Invalid Subject</small>
                </div>
              </ion-col>
              <ion-col size="12">
                <ion-item>
                  <ion-textarea type="text" placeholder="Your Message" formControlName="message" name="message" rows="5"
                    cols="20">
                  </ion-textarea>
                </ion-item>
                <div class="ion-text-start" *ngIf="message.invalid && (message.dirty || message.touched)">
                  <small class="error" *ngIf="message.errors?.required">Message is
                    required</small>
                  <small class="error" *ngIf="message.errors?.pattern">Invalid Message</small>
                </div>
              </ion-col>
              <ion-button type="submit" class="btn ion-padding" color="success" [disabled]="contactForm.invalid">Send
                Message
              </ion-button>
            </ion-row>
          </form>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="1"></ion-col>

  </ion-row>

</ion-content>