.submit-btn{
    width: 100%;
}

.error{
    color:#cf3c4f;
}

ion-item{
    border: 1px solid #6666667d;
}

ion-slides {
    form{
        width: 100%;
        .head2{
            padding-top: 2rem;
        }
    }
}
@media screen and (max-width: 706px) {
    .crd-blk{
    width: 100%;
    }
}