<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title> {{ turfData.turf_name }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-slides pager="true" [options]="slideOpts">
          <ion-slide>
            <ion-img [src]="sampleImgUrl1">
            </ion-img>
          </ion-slide>
          <ion-slide>
            <ion-img [src]="sampleImgUrl1">
            </ion-img>
          </ion-slide>
          <ion-slide>
            <ion-img [src]="sampleImgUrl1">
            </ion-img>
          </ion-slide>
        </ion-slides>
      </ion-col>
      <ion-col size="10" class=" det-blk">
        <ion-card>
          <ion-card-header>
            <ion-card-title> {{ turfData.turf_name }} </ion-card-title>
            <ion-card-subtitle> {{ turfData.turf_description }} </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <ion-card class="crd-blk">
              <ion-row>

                <ion-col size="4">
                  <ion-card-header>
                    <ion-text>TURF NAME :</ion-text>
                    <ion-card-title> {{ turfData.turf_name }} </ion-card-title>
                  </ion-card-header>
                  <ion-card-header>
                    <ion-text>EMAIL ID :</ion-text>
                    <ion-card-title> {{ turfData.turf_contact_email }} </ion-card-title>
                  </ion-card-header>
                  <ion-card-header>
                    <ion-text>CONTACT NO :</ion-text>
                    <ion-card-title>
                      <ion-chip color="success"> {{ turfData.turf_contact_1 }} </ion-chip>
                      <ion-chip color="success"> {{ turfData.turf_contact_2 }} </ion-chip>
                    </ion-card-title>
                  </ion-card-header>
                </ion-col>

                <ion-col size="4">
                  <ion-card-header>
                    <ion-text>TURF STARTED :</ion-text>
                    <ion-card-title> {{ turfData.created_at | date }} </ion-card-title>
                  </ion-card-header>
                  <ion-card-header>
                    <ion-text>TURF COTY :</ion-text>
                    <ion-card-title> {{ turfData.turf_city }} </ion-card-title>
                  </ion-card-header>
                  <ion-card-header>
                    <ion-text>TURF LOCATION :</ion-text>
                    <ion-card-title> {{ turfData.turf_location }} </ion-card-title>
                  </ion-card-header>
                </ion-col>

                <ion-col size="4">
                  <ion-card-header>
                    <ion-text>TURF WEBSITE :</ion-text>
                    <ion-card-title> <a href="{{ turfData.turf_website_url }}"> {{ turfData.turf_name }} </a>
                    </ion-card-title>
                  </ion-card-header>
                  <ion-card-header style="padding-bottom:0px;">
                    <ion-text>STATUS :</ion-text>
                    <ion-card-title>
                      <ion-chip color="warning">Not Booked</ion-chip>
                    </ion-card-title>
                  </ion-card-header>
                  <ion-card-header>
                    <ion-text>TURF PRICE</ion-text>
                    <ion-card-title>
                      <i class="fa fa-rupee">
                        <ion-chip color="success"> <strong> {{ turfData.turf_price }} </strong> </ion-chip>
                      </i>
                    </ion-card-title>
                  </ion-card-header>
                </ion-col>

              </ion-row>
              <ion-row class="ion-padding-bottom">
                <ion-col size="4"></ion-col>
                <ion-col size="4"></ion-col>
                <ion-col size="4">
                  <ion-icon class="ion-margin-end" name="logo-facebook" size="large"></ion-icon>
                  <ion-icon name="logo-instagram" size="large"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-card>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="spin" *ngIf="loading">
    <ion-spinner color="success" name="circles"></ion-spinner>
  </div>
</ion-content>