/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';
.btn{
    cursor: pointer;
}

h1, h2, h3{
    color: #000;
    font-size: xx-large;
    font-weight: 700;
}

.cal-modal {
    --height: 80%;
    --border-radius: 10px;
    padding: 25px;
}   

.spin {
     position: fixed;
	background-color: #f2f2f2;
	width: 100%;
	top: 0px;
	left: 0px;
	height: 100vh;
	align-items: center;
	justify-content: center;
	display: grid;
	z-index: 99;
}

.bg-img{
    --background: url("https://images.unsplash.com/photo-1630259900856-86e94006646e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1208&q=80") 0 0/100% 100% no-repeat;
}
 ion-spinner {
    transform: scale(3);
 }

 .add-event-modal{
    margin: auto;
    border: 2px solid #2dd36f;
    border-radius: 10px;
 }

//  Form
 .main-blck{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .sub-blck{
        ion-card{
            border-radius: 8%;
            width: 26rem;
            border: 2px solid;
            ion-card-header{
                padding-top: 30px;
                text-align: center;
            }
            .card-btn{
                text-align: center;
                border: 1px solid #6666667d;
                ion-button{
                    width: 48%;
                }
            }
            .link{
                color: #28ba62;
            }

            .link:hover {
                text-decoration: underline;
            }
        }
    }
}

// ion-content{
//     --ion-background-color:#fff;
// }